.map {
    height: 480px;
    width: 100%;
    background: rgb(202, 199, 199);
}

.alert {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: white;
    margin-bottom: 10px;
    display: none;
}

.myloc,
#msg {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: white;
    margin-bottom: 10px;
    display: none;
}

.customMarker {
    position: absolute;
    cursor: pointer;
    background: #424242;
    width: 100px;
    height: 100px;
    /* -width/2 */
    margin-left: -50px;
    /* -height + arrow */
    margin-top: -110px;
    border-radius: 50%;
    padding: 0px;
}

.customMarker:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 40px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #424242 transparent;
    display: block;
    width: 0;
}

.customMarker img {
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 50%;
}

.fb {
    background-color: #3B5998;
    color: white;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}

.google{
    background-color: #2e85d6;
    color: white;
}


.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.btn-cam {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

#success {
  color: #79c879;
  display: none;
}
/* Darker background on mouse-over */
.btn-cam:hover {
  background-color: RoyalBlue;
}

  /* #client{
    display: none;
  } */